*{
    margin: 0;
}

.pembuatan-uji-coba-kata{
    height: 80px;
    background-color: blue;  
    font-size: 30px;
    font-family: 'Franklin Gothic Medium';
    text-align: center;
}

.pembuatan-pertama{
    height: 40px;
    background-color:red;
    width: 200px;
    
}
.pembuatan-kedua{
    height: 45px;
    width: 580px;

}

.awal{
    background-color: black;
    width: auto;
    height: 10vh;
}
.pembuatan-kata-kata-kempat{
     height: 40px;
     width:520px ;
     text-align: center;
     text-align:display ;
}
.pembuatan-kata-kata-kelima{
    height:25px;
    width: 110px;
    font-size: 22px;
}
.pembuatan-kata-kata-keenam{
    height:40px;
    width: 480px;
    font-size:22px ;
    text-align: center;
}

.tes {
    display: flex;
    background-color:green;
    width: 50%;
}

.tes-teks{
    color: white;
}

.keenam{
    display: flex;
}

.img-class{
    width: 25%;
}

.tes{
    margin:2em 0 0 0;
}

.display{
    background-color: aqua;
    display: flex;
}
